@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

textarea:focus, input:focus {
    color: #ffffff;
}

input, select, textarea{
    color: #dfdfdf;
}
option{
    color: black;
}